<h1>Command Injection and Code Injection</h1>

<div>Code Injection: Wrote on the console of the Server 'You have been hacked' with -> <%= @param_code_inj %></div>

<div>Command Injection: Opened Calculator on Server with -> <%= @param_comm_inj %></div>
